[submodule "rpi-rgb-led-matrix"]
	path = rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "readerwriterqueue"]
	path = readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
